
<html> 
    <head> 
        <title>html page</title> 
    </head> 
    <body> 
        <h1>Find My Domain</h1>

        <form action="/" method= "post">
            <label for="keyword1">KeyWord1</label>
            <input name="u">


            <label for="keyword2">KeyWord2</label>
            <input name="v" type="text" ><br><br>

           <label for="kwyword3">KeyWord3</label>
            <input name="w" ><br><br> 
            
            <input type="submit" value="Submit">
          </form> 

    </body> 
    </html> 
    