<!--{% for item in data %}
    <p> {{ item }} </p>
{% endfor %} -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Find My Domain </title>

<style> 
    .Center { 
        width:200px; 
        height:200px; 
        position: fixed; 
        top: 50%; 
        left: 50%; 
        margin-top: -100px; 
        margin-left: -100px; 
    } 
</style> 

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
</head>
<body>
  <div id="breadcrumb">
    <p><b>Find My Domain.</b></p>         
  </div>
  <div id="content">

    <div style="width:100%;"> 
        <!--Header  -->
        <div style="float:left; width:32%;">
        <!--Left  Column -->
        <br />
            {% for item in data[0:5] %}
                <h2> {{ item }} </h2>
            {% endfor %}
        <br />
        </div>

        <div style="float:right; width:32%; ">
           <!--Right Column -->
            <br /> 
                {% for item in data[10:15] %}
                    <h2> {{ item }} </h2>
                {% endfor %}
            <br />
            </div>

            <body> 
                <br /> 
                {% for item in data[5:10] %}
                    <h2> {{ item }} </h2>
                {% endfor %}
            <br />
            </body> 
        
    </div>



    

    <!--<div id="sidebar">
      <div id="logo">
        <h1><a href="#">Find My Domain</a></h1>
        <h2><a href="#">Your new domain name.</a></h2>
      </div>
      <div id="menu">
        
      </div>
      
      
    </div> -->
   <!-- <div id="main">
      <div id="welcome" class="post">
        
        
        <h1><a href="#">Find My Domain</a></h1>
        {% for item in data[0:4] %}
            <h3> {{ item }} </h3>
        {% endfor %}

      </div>
    </div> -->
    <div id="extra" style="clear: both;"></div>
  </div>
  <div id="footer">
    <p id="legal">An OpenSource Project built with ❤️</p>
    <p id="links"><a href="#">Home</a> | </a></p>
  </div>
  </body>
  </html>