<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Old Wall</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="background_section_top">
  <div class="container">
    <div id="header">
      <div id="logo_section">Old Wall</div>
      <div id="header_text"> Pellentesque dolor nulla, congue vitae, fringilla in, varius a, orci. Mauris convallis. Proin vel libero id erat venenatis accumsan. Nunc blandit orci sit amet risus. </div>
    </div>
    <!--  end of header section -->
  </div>
  <!--  end of container  -->
</div>
<!--  end of background Section top  -->
<div id="background_section_mid">
  <div id="background_section_bottom">
    <div class="container">
      <div id="left_section">
        <div class="section_box">
          <div class="section_title">Useful Links</div>
          <ul>
            <li><a href="#">&raquo; Free CSS Templates</a></li>
            <li><a href="#">&raquo; Free Flash Website</a></li>
            <li><a href="#">&raquo; Web Design Blog</a></li>
            <li><a href="#">&raquo; Free Photos</a></li>
            <li><a href="#">&raquo; Premium Templates</a></li>
          </ul>
        </div>
        <div class="section_box_last">
          <div class="section_title">Services</div>
          <ul>
            <li><a href="#">&raquo; Aliquam Elit Rrisus</a></li>
            <li><a href="#">&raquo; Volutpat Quis</a></li>
            <li><a href="#">&raquo; Elementum Eget</a></li>
            <li><a href="#">&raquo; Habitasse Platea</a></li>
            <li><a href="#">&raquo; Aenean Cursus</a></li>
            <li><a href="#">&raquo; Maecenas Aliquam</a></li>
            <li><a href="#">&raquo; Vestibulum Quis</a></li>
          </ul>
        </div>
        <div class="image_box"> <a href="#"><img src="images/free.jpg" alt="" border="0" /></a> </div>
        <div class="section_box_2">
          <h3>RECENT ARTICLE</h3>
          <p>Tincidunt vitae, sagittis vel, interdum at, erat.</p>
        </div>
      </div>
      <!--  end of left  -->
      <div id="right_section">
        <div id="menu_section">
          <ul>
            <li><a href="#" class="current">MAIN PAGE</a></li>
            <li><a href="#">GALLERY</a></li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">CONTACT US</a></li>
          </ul>
        </div>
        <div class="content_area">
          <h1>WELCOME TO FindMyDomain.</h1>


          <form action="/" method= "post">
            <label for="keyword1">KeyWord1</label>
            <input name="u">


            <label for="keyword2">KeyWord2</label>
            <input name="v" type="text" ><br><br>

           <label for="kwyword3">KeyWord3</label>
            <input name="w" ><br><br> 
            
            <input type="submit" value="Submit">
          </form> 




          <!--<p>This website template is provided by TemplateMo. You may use this template for any of your websites.</p>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc quis sem nec tellus blandit tincidunt. Duis vitae velit sed dui malesuada dignissim. Donec mollis aliquet ligula. Maecenas adipiscing elementum ipsum. Pellentesque vitae magna.</p>
          <p>Sed nec est. Suspendisse a nibh tristique justo rhoncus volutpat. Suspendisse vitae neque eget ante tristique vestibulum. Pellentesque dolor nulla, congue vitae, fringilla in, varius a, orci. Mauris convallis. Proin vel libero id erat venenatis accumsan. Nunc blandit orci sit amet risus. Provided by TemplateMo</p>  -->
        </div>
        <div class="two_column_section">
          <div class="two_column_left">
            <h1>Popular Posts by Bilal Khan.</h1>
            <div class="gallery_box">
              <p> <img alt="" src="images/thumb_1.jpg" /> <span class="header"><a href="http://hyperurl.co/webscraping-guide">The Complete Beginner’s Guide to Web Scraping</a></span><br />
                Usually, we can only view the downloaded web page but what if you want to automate or you want to extract the TSLA stock price every other minute? </p>
            </div>
            <div class="gallery_box">
              <p> <img alt="" src="images/thumb_2.jpg" /> <span class="header"><a href="hyperurl.co/vpn-setup">hyperurl.co/vpn-setup</a></span><br />
                Anyone who captures your IP address can access what you’ve been searching on the internet and where you were located. A virtual private network famously known as VPN helps you to be completely anonymous on the internet, gives you online privacy by creating a private network from a public internet connection.</p>
            </div>
            <div class="gallery_box">
              <p> <img alt="" src="images/thumb_3.jpg" /> <span class="header"><a href="http://hyperurl.co/covid-app">Building a Real Time Coronavirus Tracking Application Using Volley.</a></span><br />
                It's easy </p>
            </div>
          </div>
          <div class="two_column_right">
            <h1>Announcements</h1>
            <div class="body">
              <h2><a href="github.com">Github</a></h2>
              <p>Contribute to the project.</p>
              <!--<h2><a href="#">JULY 19, 2024</a></h2>
              <p>Ut sed pede. Nullam vitae tellus. Sed ultrices.</p>
              <h2><a href="#">April 13, 2024</a></h2>
              <p>Sed nec est. Suspendisse a nibh tristique justo rhoncus volutpat.</p>
              <h2><a href="#">FEBRUARY 24, 2024</a></h2>
              <p>varius a, orci. Mauris convallis. Proin vel libero id erat</p>>  -->
            </div>
          </div>
        </div>
        <!--  end of 2 column  -->
      </div>
      <!--  end of right  -->
      <div class="clener_with_height">&nbsp;</div>
    </div>
    <!--  end of container -->
  </div>
  <!--  end of background Section middle bottom  -->
</div>
<!--  end of background Section middle  -->
<div id="background_bottom">
  <div class="container">
    <div class="bottom_panel">
      <div class="bottom_section_box_1">
        <p><a href="http://validator.w3.org/check?uri=referer"> <img height="31" alt="" src="http://www.w3.org/Icons/valid-xhtml10" width="88" vspace="8" border="0" /> </a> <a href="http://jigsaw.w3.org/css-validator/check/referer"> <img alt="" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" vspace="8" border="0" /> </a> </p>
      </div>
      <div class="bottom_section_box_2">
        <h3> Contact Information</h3>
        <p>Email: bilal.khan2014@hotmail.com</p>
        <div id="footer"> An opensource project.</div>
      </div>
      <div class="clener_with_height">&nbsp;</div>
    </div>
    <!--  end of  bottom  panel -->
  </div>
  <!--  end of container -->
</div>
<!--  end of background bottom  -->
</body>
</html>
